.details-modal {
  height: 150px;
  .ant-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background: #f8f8fa !important;
    height: 45px;
  }

  button.ant-modal-close {
    height: 40px;
    display: flex;
    align-items: center;
  }

  .ant-modal-content {
    border-radius: 10px !important;
  }

  .detailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .detailsBody {
      flex-direction: column;
      .detailsContent {
        .detailsLabel {
        }
        .detailsElevationLabel {
        }
        .detailsId {
        }
        .detailsTotProgress {
        }
      }
    }
  }

  .ant-modal-body {
    height: 300px;
  }

  .ant-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    .detailsCloseBtn {
      width: 100px;
      height: 32px;
      background: #fe4c4a 0% 0% no-repeat padding-box;
      color: white;
      border-radius: 5px;
    }
  }
}
