.ant-modal.task-modal {
  .modalName {
    border: none;
    border-bottom: 1px solid #bfc8cf !important;
  }

  .ant-picker-input {
    gap: 94px !important;
  }

  .startModal {
    border-bottom: 1px solid #bfc8cf !important;
  }

  .endModal {
    border-bottom: 1px solid #bfc8cf !important;
  }

  .prgModal {
    border-bottom: 1px solid #bfc8cf !important;
  }

  .depModal {
    border-bottom: 1px solid #bfc8cf !important;
  }
}
