$line-color: #f1f7fb;
$line-width: 1px;
$top-margin: calc(-48.5px + 60px + 1px);
$labelHeight: 36px;
$backgroundColor: whiteSmoke;
//backdrop layer 1
.chart {
  width: 1648px;
  height: 873px;
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  box-shadow: 0px 1px 4px #00000029;
  border-radius: 10px;

  .chartLabel {
    display: flex;
    flex-direction: row;
    overflow: auto;
    column-gap: 5px;

    .chartLabel ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .chartLabel ::-webkit-scrollbar-thumb {
      background: #142735 !important;
      border-radius: 4px;
    }
  }
  .headerChart {
    display: flex;
    flex-direction: row;
    height: 80px;
    .header-div {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .labelsHeader {
        width: 283px;
        height: 3px;
        font-size: 19px;
        margin: 1px 16px 31px 51px !important;
        font-family: "Open Sans";

        .labalHeaderText {
          height: 33px;
          width: 220px;
        }
      }

      .ant-input-group-wrapper {
        width: 50% !important;
      }
    }

    .ganttFilterBtn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 150px;
      height: 32px;
      font-size: 16px;
      border-radius: 5px;
      background: #1264a3;
      margin-bottom: 10px;
      color: white;
      gap: 5px;
      padding: 1px;
    }
    .ant-btn .anticon {
      margin-top: 7px;
    }

    .searchBar {
      display: flex !important;
      flex-direction: row !important;
      gap: 20px;
      span.ant-input-affix-wrapper {
        border-radius: 5px !important;
        width: 183px;
        height: 32px;
        background: #fcfcfc 0% 0% no-repeat padding-box;
      }
      span.ant-input-prefix {
        color: #bfbaba;
      }
      input.ant-input {
        background: #fcfcfc 0% 0% no-repeat padding-box;
      }
    }

    span.ant-input-group-addon {
      display: none;
    }

    .stepperDiv {
      background: #f8f8fa;
      width: 1212px !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .left {
    //left side layer 2
    .labels {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
      margin-top: 60px;
      .label {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 348px;
        box-sizing: border-box;
        height: $labelHeight;
        font-size: 16px;
        gap: 10px;

        .bold.space-around.capitalize {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-family: "Open Sans";
          margin-left: 10px;
        }
        &:nth-child(odd) {
          background-color: #f8f8fa !important;
        }
        &:nth-child(even) {
          background-color: #f5f7fb !important;
        }
      }
    }
  }

  .labelsRow {
    display: flex;
    flex-direction: row;
  }

  .add-task .ant-btn-round {
    width: 150px;
    height: 32px;
    background: #71cf48 0% 0% no-repeat;
    border-radius: 5px;
    opacity: 1;
    font-family: "Open Sans";
  }
  .ant-btn-primary {
    border: none !important;
    box-shadow: transparent !important;
  }

  .right {
    //layer 3 backdrop of gant chart itself
    font-weight: bold;
    display: flex;
    flex-direction: column;
    scrollbar-width: "thin";

    .actions {
      display: flex;
      flex-direction: row;
    }

    .ant-card-body {
      padding: 0px !important;
      width: 1219px;
    }
  }
  span.anticon.anticon-delete.bold.space-around.capitalize {
    padding: 9px;
    font-size: 18px;
    color: white !important;
    background: #fe4c4a;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 36px;
    min-width: 36px;
  }

  @media only screen and (max-width: 600px) {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    .left {
      display: none;
    }
    .right {
      max-width: 100% !important;
      margin: 0px;
      padding: 0px;
    }
  }
}
