@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
$normal: 4px;
$primary: #0078db;
$primary-tint: #e5f2e5;
$primary-shade: #004000;
$light: #fff;
$white-darker: whiteSmoke;
$dark: #000;

body {
  font-family: "Open Sans" sans-serif !important;
}

/// Ants Component
span.ant-modal-close-x {
  color: #323338;
}

button.ant-btn.ant-btn-default.space-around {
  margin-left: 67px !important;
}

.ant-card {
  border-radius: 12px !important;
}

button.ant-btn.ant-btn-submit {
  width: 150px !important;
}

.ant-slider-mark {
  left: 8px;
}

.ant-slider-track {
  background-color: #86c6f7 !important;
}

.ant-slider-rail {
  background-color: #f1f7fb !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
  border-radius: 50% !important;
  border-color: rgba(193, 191, 191, 0.5);
}

.ant-slider-handle {
  background-color: #1890ff;
  border: 2px solid #86c6f7;
}

///Card Chart Scrollbar
.chart .right ::-webkit-scrollbar {
  width: 10px !important;
  height: 7px;
  cursor: pointer;
}

.chart .right ::-webkit-scrollbar-track {
  background-color: transparent;
}

///Chart Scrollbar
.chart .right ::-webkit-scrollbar-thumb {
  background: #142735 !important;
  border-radius: 4px;
}

/* Handle on hover */
.chart .right ::-webkit-scrollbar-thumb:hover {
  cursor: pointer !important;
}

//Row Index Display
.tiny-circle {
  display: none !important;
}
